.text-style {
    background-color: deepskyblue;
    font-size: 30px;
    padding: 20px;
    margin: 40px 10px;
    width: 60%;
    display: flex;
    justify-content: center;
    border-radius: 0.2%;
}

.card-style {
    padding: 2vw;
    margin: 5px;
    background-color: dimgray;
}
